
<div id="quotes" class="carousel slide text-center" data-ride="carousel" style="background-color: #06313f; padding: 0; margin:0; color:#ffffff">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5 class="mt-3 text-success">{{quotes.quote}}</h5>
      <p>{{quotes.author}}~</p>
    </div>
    <div class="carousel-item">
      <h5 class="mt-3 text-success">{{quotes.quote}}</h5>
      <p>~ {{quotes.author}}~ </p>
    </div>
    <div class="carousel-item">
      <h5 class="mt-3 text-success">{{quotes.quote}}</h5>
      <p>~ {{quotes.author}}~ </p>
    </div>
  </div>
</div>