{% extends 'base.html' %}

{% block content %}

<body class="blogs">
  <div class="container">

    <div class="media">
      <img src="../static/images/blog_pictures/{{ post.image_file }}" class="mr-3" alt="{{ post.title }}" width="400px"
        height="350px">
      <div class="media-body">
        <h5 class="mt-0 title"><b>{{ post.title }}</b></h5>
        <h6 class="mt-0">Published by: {{ post.author.username }} <span style="float: right;">On:
            {{ post.created_at.strftime('%Y/%m/%d')}}</span></h6>
        <p>{{post.content}}</p>
      </div>
    </div>
    {% if post.author == current_user %}
    <div>
      <a href="{{ url_for('.update_post',  blogpost_id=post.id)}}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
      <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="modal"
        data-target="#deleteModal">Delete</button>
    </div>
    {% endif %}

  <div class="comment">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> {{ legend }} </legend>
        <div class="form-group">
      
          {% if form.content.errors %}
          {{ form.content (class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.content.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.content (class="form-control form-control-lg content-form") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit (class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  <div class="comments">
    {% if comments %}
    {% for comment in comments %}
    <div class="card">
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author.username }}</a>
            <small class="text-muted">{{ comment.created_at.strftime('%Y/%m/%d')}}</small>
          </div>
          <p class="article-content">{{ comment.content }}</p>
          <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="modal"
            data-target="#deleteModal{{ comment.id }}">Delete</button>
        </div>
      </article>
    </div>

    <div class="modal fade" id="deleteModal{{ comment.id }}" tabindex="-1" role="dialog"
      aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this comment?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              style="float: right; margin-left: 15px;">Close</button>
            <form action="{{ url_for('.delete_comment', comment_id=comment.id, blogpost_id=post.id) }}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <p> This post has no comments yet</p>
    {%endif%}
  </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            style="float: right; margin-left: 15px;">Close</button>
          <form action="{{ url_for('.delete_post', blogpost_id=post.id) }}" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock content %}